[Unit]
Description=Pull the Dynatrace secrets before starting the activegate
After=network.target

[Service]
Type=forking
TimeoutSec=0
ExecStart={{dt_activegate_env_update_script}}
RemainAfterExit=true

[Install]
WantedBy=multi-user.target